@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f0f0f0; /* Background of the scrollbar track */
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #4f46e5; /* Color of the scrollbar handle */
      border-radius: 10px; /* Roundness of the scrollbar handle */
      border: 2px solid #e5e7eb; /* Adds padding around the handle */
    }
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background-color: #3b82f6; /* Hover effect */
    }
  }